<div class="jumbotron">
	<h1><strong>
		Hello I'M A PROGRAMMER!
	</strong></h1>
	<p>
	.....This website holds some of my recent works,achievments and also include a variety of my project ideas.
	</p>
</div>
