<div class="jumbotron">
	<p>
		Hey,my name is Sandeep Kumar Singh, and I am currently in college going for my bachelor’s degree.I came on this web platform to introduce some enhancements to the technical community.
		My website feeds information on various projects accomplished by me. i have knowledge about some programming languages like C,C++,
		Java,Python.I worked on some application development platforms like QT,Ruby on Rails,Visual-C++ (open-cv). 
	</p>
	<p>
		 My Field of interest is Theory of Automata and Networking.I worked on various projects under the guidance of my college faculty Prof. Praveen Hore from there i picked technical interest and required skills in programming.i learned courses on Microprocessor architecture and interfaces,Operating System and Design,Data Structures and Algorithms and Digital Electronics and Logic Design during my sophomore year.I always have strong hand on aptitude skills.
	</p>
	<p>
		 I recently completed a course in Routing and Switching and is involved in research activity related to Computer Networking. 

	</p>


</div>
