
<div class="jumbotron">
<div class="container">

<body class="unique">
<p>
  I am pursuing my Bachelor's degree from Army Institute Of Technology affilated under University of Pune.My College provides lot of extracurricular activities for their students, including dances, sports and religious club.I am mostly associated under sports related activites like basketball,volleyball,squash and many more.Since my first year i m a member of Maths Club in my College.
  In my First year i worked as a co-odinator for organising Annual Inter college Sports Activity in my college.I took part in many Inter and Intra college coding competition and also won few of them.
  In my Second year i took part in Project competition organised in my college "Amalgam" and stood 2nd in that competition. 
</p>
<p>
   

</p>
</body>
   
</div>
</div>
<div class="jumbotron slide" >
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"> <%= image_tag "news.jpg"%></div>
    <div class="item"> <%= image_tag "sa.jpg"%></div>
    
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>
