
<h1>Projects</h1>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
     <%= image_tag "Pro.png" ,:size => "200x200"%>
      <div class="caption">
        <h3>Project Insight</h3>
        <p>It is a Student Portal Application.Designed in Qt develpoment platform </p>
        <p><a href="#" class="btn btn-primary" role="button">Brief</a> <a href="#" class="btn btn-default" role="button">Source Code</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
     <%= image_tag "eni1.jpg" ,:size => "200x200"%>
      <div class="caption">
        <h3>Enigma++</h3>
        <p>C++ Enigma machine code with 5 rotors and 1 plug-board</p>
        <p><a href="#" class="btn btn-primary" role="button">Brief</a> <a href="#" class="btn btn-default" role="button">Source Code</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
     <%= image_tag "enigma.jpg" ,:size => "200x200"%>
      <div class="caption">
        <h3>Enigmat</h3>
        <p>Desktop chat Application Coded in C++ facilitate Enigma Encryption</p>
        <p><a href="#" class="btn btn-primary" role="button">Brief</a> <a href="#" class="btn btn-default" role="button">Source Code</a></p>
      </div>
    </div>
    </div>

</div>

  