<div class="modal fade" id = "contact" role = "dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Project Insight</h3>
      </div>
      <div class="modal-body">
        <p><h4>Intoduction-</h4>
            This project provides a common ground,or a common forum,for all members fo insight,to post their queries,open for all the member to answer.
        </p>
        <p>
            The students and faculty,both are a part of this,and have different user account types,controlled by a single administrator.
        </p>
        <p>
            The project is aimed at increasing the interaction between the student and the faculty by providing the students with a platform where they can openly ask question among the members of insight, and hereby increasing the interaction between the students and faculty.
        </p>
        <h4>Need-</h4>
        <p>
          This project has been developed keeping in mind the problem faced by the students,when they are not satisfied with the answers to their questions,when searched on the internet.
        </p>
        <p>
            At times when you search for an answer on the internet,you realize that the answer to your question is not upto mark 
            or maybe it is not relevant to our answer ,or it may yake a lot of time finding the answer yourself.so to solve this problem , I introduce you to project INSIGHT!
          </p>

          <p>
            The capacity to gain an accurate and deep understanding of someone or something
          </p>
          <p>
            I have named this project "insight" because it helps all the member to get an insight to the solution of their problems,and understand their subjects better.
          </p>
         
           <h4>Conclusion-</h4>
           <p>
                This project is very useful for the college students,and it should be implemented int hte college,as it helps the students get an insight to their subjects and understand them better.It solves a lot of problems for the students.
            </p>
            <p>
              This project is the soultion for all those students who out of shy-ness or whatsoever donot communicate in class and are not able to get their answer laer on.
            </p>
      </div>
      <div class="modal-footer">
       
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<div class="modal fade" id = "contact1" role = "dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Enigma++</h3>
      </div>
      <div class="modal-body">
        <p><h4>Intoduction-</h4>
          An Enigma machine was any of several electro-mechanical rotor cipher machines used in the twentieth century for enciphering and deciphering secret messages. Enigma was invented by the German engineer Arthur Scherbius at the end of World War I. Early models were used commercially from the early 1920s, and adopted by military and government services of several countries, most notably Nazi Germany before and during World War II. Several different Enigma models were produced, but the German military models are the most commonly recognised.
           </p>
           <h4> Enigma++</h4>
            <p>
              I Programmed a c++ code which works same as like Enigma Machine.As in Enigma we are having 5 rotors and out of that we have to choose three for its working purpose.Along with that i included the plugboard configuration in this enigma code that give Enigma an another level of encrypted combinations. 
              Through Enigma we can possibly have a 158,962,555,217,826,360,000 combination pattern for a single character.
              </p>
              <h4>Basic operation-</h4>
              <p>
              Basic operation of this code is as follows</br>
                -First of all you have to choose 3 rotors from 5.</br>
                -Enter the combination of each rotor(ranging b/w 1-26).</br>
                -Now u can Enter the Message String.</br>
                -In this step u will get the Encoded Message String.
              </p>
              <h4>Functionality-</h4>
              <p>
                Suppose user enters a character first of all according to the rotor setting it will pass through each rotor and raech upto the reflector positioned after the last rotor.reflector will reflect a random character again through out the rotors. and after coming back back from h rotors plugboard will play it turn and add one more level of encryption to the character tht was coming form the rotors.
              </p> 
              <p>
              Content reference - <a href="https://en.wikipedia.org/wiki/Enigma_machine#Basic_operation">Wikipedia</a> 
              </br>
              Video reference -  <a href="https://www.youtube.com/watch?v=G2_Q9FoD-oQ">(Enigma)Numberphile</a> 

      </div>
      <div class="modal-footer">
       
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<div class="modal fade" id = "contact2" role = "dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Enigma Chat Application</h3>
      </div>
      <div class="modal-body">
        <p><h4>Intoduction-</h4>
          An Enigma machine was any of several electro-mechanical rotor cipher machines used in the twentieth century for enciphering and deciphering secret messages. Enigma was invented by the German engineer Arthur Scherbius at the end of World War I. Early models were used commercially from the early 1920s, and adopted by military and government services of several countries, most notably Nazi Germany before and during World War II. Several different Enigma models were produced, but the German military models are the most commonly recognised.
           </p>
           <h4> Enigmat</h4>
            
           
              Content reference - <a href="https://en.wikipedia.org/wiki/Enigma_machine#Basic_operation">Wikipedia</a> 
              </br>
              Video reference -  <a href="https://www.youtube.com/watch?v=G2_Q9FoD-oQ">(Enigma)Numberphile</a> 

      </div>
      <div class="modal-footer">
       
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<body class="projectwall">
<h1>Projects</h1>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
     <%= image_tag "Pro.png" ,:size => "200x200"%>
      <div class="caption">
        <h3>Project Insight</h3>
        <p>It is a Student Portal Application.Designed in Qt develpoment platform </p>
        <p><a href="#contact" data-toggle = "modal" class="btn btn-primary" role="button">Brief</a> <a href="#" class="btn btn-default" role="button">Source Code</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
     <%= image_tag "eni1.jpg" ,:size => "200x200"%>
      <div class="caption">
        <h3>Enigma++</h3>
        <p>C++ Enigma machine code with 5 rotors and 1 plug-board</p>
        <p><a href="#contact1" data-toggle = "modal" class="btn btn-primary" role="button">Brief</a> <a href="https://github.com/sandeep99063/Enigma" class="btn btn-default" role="button">Source Code</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
     <%= image_tag "enigma.jpg" ,:size => "200x200"%>
      <div class="caption">
        <h3>Enigmat</h3>
        <p>Desktop chat Application Coded in C++ facilitate Enigma Encryption</p>
        <p><a href="#contact2" data-toggle = "modal" class="btn btn-primary" role="button">Brief</a> <a href="#" class="btn btn-default" role="button">Source Code</a></p>
      </div>
    </div>
    </div>

</div>

</body>