<div class="masthead">
        <h2 class="text-muted">Sandeep Kumar Singh</h2>
<nav role="navigation" class="navbar navbar-default ">
    <!-- Brand and toggle get grouped for better mobile display -->
    
    <!-- Collection of nav links and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><%= link_to "Home",root_path%></li>
            <li><%= link_to "Project",project_path%></li>
            <li><%= link_to "Presentations",present_path%></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Login</a></li>
        </ul>
    </div>
</nav>
</div>